<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/headerStyles.css">
    <link rel="stylesheet" href="../styles/footerStyles.css">
    <title>Operation Refresh</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo_wrapper">
                <img src="../assets/logos/logo-2.svg" alt="logo">
            </div>
            <div class="menu_wrapper">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#story">Our Story</a></li>
                    <li><a href="#room">Rehab Room</a></li>
                </ul>
            </div>
            <div class="nav-btn_wrapper">
                <!-- <a href="#"> -->
                    Become a supporter
                <!-- </a> -->
            </div>
        </nav>
        <div class="landing_main_container">
            <section class="left_container">
                <h2>Refresh the Lives 
                    of Those Affected 
                    by a Brain Injury
                </h2>
                <p>
                    A one-time or long-term donation, everything counts<br>  
                    to help us guarantee access to decent healthcare for <br> 
                    the most neglected people.
                </p>
            </section>
            <section class="right_container">
                <div class="right_inner_wrapper">
                    <h4>Select the Amount</h4>
                    <form action="" class="amount_form_wrapper">
                        <div class="top_input_wrapper">
                            <input type="text" placeholder="$20">
                            <input type="text" placeholder="$100">
                            <input type="text" placeholder="$150">
                        </div>
                        <div class="middle_input_wrapper">
                            <input type="text" placeholder="Other Amount">
                            <select>
                                <option value="">Once</option>
                            </select>
                        </div>
                        <div class="bottom_input_wrapper">
                            <textarea name="" id=""
                             rows="13" cols="20" 
                             placeholder="Note"
                             ></textarea>
                        </div>
                        <div class="payment_option_wrapper">
                            <img src="../assets/images/payment_options.png" alt="payement_options">
                        </div>
                    </form>
                </div>
                <div class="donate_now-btn">
                    <a href="">Donate Now</a>
                </div>
            </section>
        </div>
    </header>
    
    <footer>
        <div class="footer_inner_wrapper">
            <section class="footer_logo_wrapper">
                <img src="../assets/logos/footer-logo.png" alt="">
            </section>
            <section class="footer_menu_container">
                <div class="footer-menu_left_wrapper">
                    <ul>
                        <li>Keas 69 Str. Athens, Greece</li>
                        <li>30-2106019311</li>
                        <li>Operationrefresh@info</li>
                    </ul>
                </div>
                <div class="footer-menu_center_wrapper">
                    <ul>
                        <li><a href="#">Our Stories</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">People Stories</a></li>
                    </ul>
                </div>
                <div class="footer-menu_right_wrapper">
                    <ul>
                        <li><a href="#">Our Stories</a></li>
                        <li><a href="#">Services</a></li>
                    </ul>
                    <div class="social_links_wrapper">
                        <ul>
                            <li><a href="#">
                                <img src="../assets/images/facebook.png" alt="Facebook">
                            </a></li>
                            <li><a href="#">
                                <img src="../assets/images/instagram.png" alt="Instagram">
                            </a></li>
                            <li><a href="#">
                                <img src="../assets/images/linkedin.png" alt="linkedin">
                            </a></li>
                            <li><a href="#">
                                <img src="../assets/images/twitter.png" alt="twitter">
                            </a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <ul class="footer-bottom_container">
                <ul>
                    <li>Privacy Policy</li>
                    <li>Designed by YourHustler</li>
                    <li>Operationrefresh © 2023</li>
                </ul>
            </ul>
        </div>
    </footer>
</body>
</html>