:root{
    /* Colors */
    --primary_color:#4d148c;
    --bg-color:#eef1f6;
    --black:#000000;
    --white:#EEF1F6;
    --gray:#4d4d4d;
    --dark_gray:#212121;
    --border-color:#d8d8d8;

    /* Box-Shadows */
    --light-shadow:rgba(0,0,0,0.16 );

    /* Font-Sizes */
    --normal_font:1rem;

    /* Font-Styles */
    --normal:normal;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "dm sans";
    /* font-family: "object sans"; */
    background-color:var( --bg-color);
}
textarea {
    resize: none;
  }
a{
    text-decoration: none;
}
li{
    list-style: none;
}
header,footer{
    padding: 0 3em;
}
input::placeholder,textarea::placeholder, select{
    font-family: "dm sans";
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    color: var(--gray);
}

/* Navbar-Styles Start */
.navbar{
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap:1em;
}
.logo_wrapper{
    width: 174.5px;
    height: 63.8px;
}
.menu_wrapper{
  display: flex;
  align-items:center;
  justify-content:center;
  width:100vw;
  height: 127.9px;
}
.menu_wrapper > ul {
    display: flex;
    align-items:center;
    justify-content:center;
    column-gap:2em;
}

.menu_wrapper > ul > li > a {
    font-size: var(--normal_font);
    font-weight: bold;
    line-height: 1rem;
    font-style: var(--normal);
    color: var(--black);
    transition:all 0.5s;
    position: relative;
}
.nav-btn_wrapper{
    width: 227px;
    height: 51px;
    border-color:var(--primary_color);
    border-width: 2px;
    border-style: solid;
    display: flex;
    align-items:center;
    justify-content:center;
    position: relative;
    overflow: hidden;
    font-size: var(--normal_font);
    font-weight: bold;
    line-height: 1rem;
    font-style: var(--normal);
    color: var(--primary_color);
    transition: all 1s;
}
/* .nav-btn_wrapper > a {
    font-size: var(--normal_font);
    font-weight: bold;
    line-height: 1rem;
    font-style: var(--normal);
    color: var(--primary_color);
    transition: all 1s;
} */
.nav-btn_wrapper::before{
    content:"";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #4d148c;
    transition: all 0.8s;
    z-index: -1;
    transform:translateX(-100%);
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
}
.nav-btn_wrapper:hover::before{
    transform:translateX(0);
}
.nav-btn_wrapper:hover{
    color:white;
    cursor: pointer;
}
/* Navbar-Styles End */

/* Landing_Section Styles Start */
.landing_main_container{
    display: flex;
    margin-top: 2em;
}
.left_container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align:left;
    width: 100%;
}
.left_container > h2{
    width: 682px;
    font-family: "object sans";
    font-size: 60px;
    font-weight: 400;
    line-height: 72px;
    font-style: normal;
    color: var(--black);
    margin-bottom: 0.2em;
}
.left_container > p{
    width: 607px;
    height: 109px;
    font-family: "dm sans";
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    font-style: normal;
    color:var(--dark_gray);
}
.right_container{
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: flex-end;
}
.right_container{

}
.right_container{

}
.right_inner_wrapper{
    width: 448px;
    height: 471px;
    filter: drop-shadow(0px 3px 20px var(--light-shadow));
    background: var(--white);
    padding: 3em 2em 0em 2em;
    -webkit-filter: drop-shadow(0px 3px 20px var(--light-shadow));
}
.right_inner_wrapper > h4{
    width: 329px;
    height: 29px;
    font-family: "object sans";
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    font-style: normal;
    text-align: left;
    color: var(--primary_color);
}
.amount_form_wrapper{
    margin-top:1.5em;
    display: flex;
    flex-direction: column;
    row-gap:1em;
}
.amount_form_wrapper{

}
.top_input_wrapper, 
.middle_input_wrapper,
.bottom_input_wrapper,
.payment_option_wrapper{
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.top_input_wrapper >input{
    width: 117px;
    height: 63px;
    border:2px solid var(--border-color);
    background: var(--white);
    padding: 1em;
    text-align: center;
}
.middle_input_wrapper{
    
}
.middle_input_wrapper > input,select{
    width: 181px;
    height: 63px;
    border:2px solid  var(--border-color);
    background: var(--white);
    padding: 1em;
    text-align: center;
}
.bottom_input_wrapper >textarea{
    width: 385px;
    height: 120px;
    border:2px solid  var(--border-color);
    background: var(--white);
    padding: 1em;
}
.payment_option_wrapper{
    width: 381px;
    height: 37px;    
}
.payment_option_wrapper >img{
    width: 100%;
    height: 100%;
}
.donate_now-btn{
    width: 448px;
    height: 71px;
    background: var(--primary_color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.donate_now-btn >a{
    font-family: "object sans";
    font-size: 24px;
    font-weight: bold;
    line-height: 92px;
    font-style: normal;
    color: var(--white);
}
/* Landing_Section Styles End */
